.swiper_container {
  height: 32rem;
  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  width: 28rem;
  height: '100%';
  position: relative;
}

@media (max-width: 500px) {
  .swiper_container {
    height: 38rem;
    padding: 2rem 0;
    position: relative;
  }

  .swiper-slide {
    width: 18rem;
    height: '100%';
  }
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}


.slider-controler .slider-arrow::after {
  content: '';
}