section#connect {
    background: var(--bg);
    padding: 50px 0 100px 0;
}

section#connect .animation {
    pointer-events: none;
}

section#connect h2 {
    font-size: 45px;
    font-weight: 700;
}

section#connect form input,
section#connect form textarea {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid var(--btn-outlined);
    border-radius: 10px;
    color: var(--color-main);
    margin: 0 0 8px 0;
    padding: 12px 16px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.8px;
    transition: 0.3s ease-in-out;
}

section#connect form input:focus,
section#connect form textarea:focus {
    background: var(--color-main);
    color: var(--color-alternative);
}

section#connect form input::placeholder,
section#connect form textarea::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-main);
}

section#connect form input:focus::placeholder,
section#connect form textarea:focus::placeholder {
    color: var(--color-alternative);
    opacity: 0.8;
}

section#connect form button {
    background: var(--btn-destaque);
    color: var(--color-main);
    border-radius: 5px;
    border: none;
}