section#home {
    margin-top: 0;
    padding: 150px 0 100px 0;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

section#home .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(110deg, var(--btn-destaque) 10.95%, var(--btn-destaque-hover));
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
}

section#home .typeWriterText {
    font-size: 27px;
    color: var(--color-destaque);
    margin-bottom: 12px;
    font-weight: 700;
}

section#home h1 {
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 0px;
    display: block;
}

section#home p {
    color: var(--color-secundary);
    font-size: 16px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
}

section#home span {
    gap: 20px;
}

section#home a.btn-outlined {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;

    background: var(--btn-outlined);
    color: var(--color-main);
    border-radius: 5px;

    flex: none;
    order: 0;
    flex-grow: 0;

    border-color: transparent;
}

section#home a.btn-outlined:hover {
    background: var(--bg-sub-card);
    border-color: var(--btn-destaque);
}

section#home a:hover {
    background: var(--btn-destaque-hover);
}

section#home a:hover, section#home a.btn-outlined:hover {
    transform: scale(1.02);
}

section#home a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    gap: 10px;

    background: var(--btn-destaque);
    border-radius: 5px;
    border-color: transparent;

    flex: none;
    order: 1;
    flex-grow: 0;

    color: var(--color-main);
    fill: var(--color-main);
}


section#home a svg {
    fill: var(--color-main);

    width: 18px;
    height: 18px;

    transition: 0.3s ease-in-out;
    line-height: 1;
}

section#home img {
    animation: updown 3s linear infinite;
    width: 500px;
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(-20px);
    }
}