section#home {
    margin-top: 0;
    padding: 0 0 50px 0;
    background-color: var(--bg);
}

section#home .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(110deg, var(--btn-destaque) 10.95%, var(--btn-destaque-hover));
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
}

section#home .typeWriterText {
    font-size: 27px;
    color: var(--color-destaque);
    margin-bottom: 12px;
    font-weight: 700;
}

section#home .typeWriterText .Typewriter__cursor, section#home .typeWriterText .Typewriter__wrapper {
    padding: 0;
}

section#home h1 {
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 0px;
    display: block;
}

section#home p {
    color: var(--color-secundary);
    font-size: 16px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
}

section#home span {
    gap: 20px;
}

@media (max-width: 500px) {
    section#home span {
        flex-direction: column;
        padding: 0 20px;
    }
    section#home span a{
        width: 100%;
    }
}

section#home img {
    animation: updown 3s linear infinite;
    width: 500px;
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(-20px);
    }
}