.projectModal .modal-content {

    margin: auto;

    background: var(--bg-card);
    box-shadow: 0px 50px 45px -15px rgba(18, 21, 52, 0.18);
    border-radius: 25px;
}

.projectModal .modal-content .modal-header button {
    background: transparent;
    border: none;
    outline: none;
}

.projectModal .modal-content .modal-header button:hover {
    opacity: 0.8;
}

.projectModal .modal-content .modal-header img {
    width: 32px;
}

.projectModal .modal-content .modal-header,
.projectModal .modal-content .modal-body,
.projectModal .modal-content .modal-footer {
    border: none;
}

.projectModal .modal-content .modal-body {
    margin: 0 15px;
}

.projectModal .modal-content .modal-body img {
    max-height: 200px;
}

.projectModal .modal-content .modal-body .h4 {
    font-size: 26px;
    font-weight: 700;
}
.projectModal .modal-content .modal-body h3 {
    font-size: 18px;
    font-weight: 600;
}

.projectModal .modal-content .modal-body p {
    text-align: justify;
}

.projectModal .modal-content .modal-body div.tecnologias {
    background: var(--btn-outlined);
    border: 1px solid var(--bg-sub-card-border);
    border-radius: 50px;
    padding: 8px;
    width: 100%;
}

.projectModal .modal-content .modal-body div.tecnologias span {
    padding: 0px;
    margin: 0;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}

.projectModal .modal-content .modal-body div.tecnologias span p {
    padding: 5px 15px 5px 15px;
    margin: 0;
    gap: 10px;
    font-size: 14px;
    background: var(--bg-sub-card);
    border: 1px solid var(--bg-sub-card-border);
    border-radius: 30px;

    flex: none;
    order: 0;
    flex-grow: 0;
}


.projectModal .modal-content .modal-footer a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    gap: 10px;

    background: var(--btn-destaque);
    border-radius: 5px;
    border-color: transparent;

    flex: none;
    order: 1;
    flex-grow: 0;

    color: var(--color-main);
    fill: var(--color-main);
}

.projectModal .modal-content .modal-footer a:hover {
    background-color: var(--btn-destaque-hover);
}
.projectModal .modal-content .modal-footer a:hover,
.projectModal .modal-content .modal-footer button:hover {
    transform: scale(1.01);
}

.projectModal .modal-content .modal-footer button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    gap: 10px;

    background: var(--btn-outlined) !important;
    border-radius: 5px !important;
    border-color: var(--btn-destaque);

    flex: none;
    order: 0;
    flex-grow: 0;
}