section#projects {
    padding: 80px 0;
    position: relative;
    background-color: var(--bg);
}

section#projects h2 {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

section#projects p {
    color: var(--color-secundary);
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px auto 30px auto;
    text-align: center;
    width: 56%;
}

section#projects .nav.nav-pills {
    width: 72%;
    margin: 0 auto;
    border-radius: 50px;
    background-color: rgb(255 255 255 / 10%);
    overflow: hidden;
    margin-bottom: 30px;
}

section#projects .nav.nav-pills .nav-item {
    width: 33.33%;
}

section#projects .nav.nav-pills .nav-link {
    background-color: transparent;
    border-radius: 0;
    padding: 17px 0;
    color: var(--color-main);
    width: 100%;
    font-size: 16px;
    letter-spacing: 0.8px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease-in-out;
    text-align: center;
    z-index: 0;
}

section#projects .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(to right, var(--gradient-2), var(--gradient-3));
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

section#projects .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
}

.card.projectCard {
    color: var(--color-main);
    fill: var(--color-main);
    background-color: var(--bg-card);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: none;

    margin: 20px;
    width: 400px;
}

.card.projectCard img.card-img-top {
    height: 230px;
}

@media (min-width: 576px) {
    .card.projectCard {
        width: 400px;
        margin: 20px;
    }

    .card.projectCard img.card-img-top {
        height: 230px;
    }
}


@media (min-width: 768px) {
    .card.projectCard {
        width: 400px;
        margin: 20px;
    }

    .card.projectCard img.card-img-top {
        height: 230px;
    }
}


@media (min-width: 992px) {
    .card.projectCard {
        width: 450px;
        margin: 30px;
    }

    .card.projectCard img.card-img-top {
        height: 280px;
    }
}

.card.projectCard .card-body {
    margin: 0;
    padding: 20px 12px;
}

.card.projectCard .card-body .card-title {
    padding: 0;
    margin: 0;

    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.8px;
}


@media (min-width: 576px) {
    .card.projectCard .card-body .card-title {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .card.projectCard .card-body .card-title {
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    .card.projectCard .card-body .card-title {
        font-size: 18px;
    }
}

.card.projectCard .card-body a svg {
    width: 22px;
    height: 22px;
    margin-left: 5px;
    fill: var(--color-main);
    opacity: 1;
}

.card.projectCard .card-body a svg:hover {
    opacity: 0.8;
}

.card.projectCard .card-footer .card-link {
    color: var(--color-main);
    border: none;
    margin: 0 15px;
}

.card.projectCard .card-footer .card-link:hover {
    opacity: 0.8;
}

.card.projectCard .card-footer svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.see-more button, .see-more button:focus {
    background: var(--btn-destaque);
    padding: 10px;
    border: none;
    color: var(--color-main);
    min-width: 250px;
}

.see-more button:hover{
    background: var(--btn-destaque-hover);
    transform: scale(1.01)
}

.disable {
    pointer-events: none;
    cursor: default;

    color: var(--color-main) !important;
    opacity: 0.5;
}