section#skills {
    padding: 0 0 50px 0;
    position: relative;
    z-index: 10;
}

section#skills .skills-box {
    background: var(--bg-card);
    border-radius: 64px;
    text-align: center;
    padding: 60px 50px;
    margin-top: -60px;
}

section#skills h2 {
    font-size: 45px;
    font-weight: 700;
}

section#skills p {
    color: var(--color-secundary);
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}

section#skills .skill-slider {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

section#skills .skill-slider .item span {
    padding: 0 20px;
}