@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.98 0.01 98.88);
  --foreground: oklch(0.35 0.04 94.68);
  --card: oklch(0.98 0.01 98.88);
  --card-foreground: oklch(0.22 0.00 106.56);
  --popover: oklch(1.00 0 0);
  --popover-foreground: oklch(0.28 0.03 98.86);
  --primary: oklch(0.64 0.19 37.96);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.93 0.02 90.55);
  --secondary-foreground: oklch(0.44 0.03 98.52);
  --muted: oklch(0.94 0.02 88.72);
  --muted-foreground: oklch(0.61 0.01 100.09);
  --accent: oklch(0.93 0.02 90.55);
  --accent-foreground: oklch(0.28 0.03 98.86);
  --destructive: oklch(0.22 0.00 106.56);
  --destructive-foreground: oklch(1.00 0 0);
  --border: oklch(0.89 0.01 100.00);
  --input: oklch(0.77 0.02 98.20);
  --ring: oklch(0.61 0.21 256.21);
  --chart-1: oklch(0.58 0.17 40.37);
  --chart-2: oklch(0.67 0.19 289.29);
  --chart-3: oklch(0.89 0.04 93.86);
  --chart-4: oklch(0.87 0.06 297.48);
  --chart-5: oklch(0.59 0.18 39.22);
  --sidebar: oklch(0.97 0.01 100.82);
  --sidebar-foreground: oklch(0.36 0.01 106.81);
  --sidebar-primary: oklch(0.64 0.19 37.96);
  --sidebar-primary-foreground: oklch(0.99 0 0);
  --sidebar-accent: oklch(0.93 0.02 90.55);
  --sidebar-accent-foreground: oklch(0.33 0 0);
  --sidebar-border: oklch(0.94 0 0);
  --sidebar-ring: oklch(0.77 0 0);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.765rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 10.20% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 10.20% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 10.20% / 0.10), 0 1px 2px -1px hsl(0 0% 10.20% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 10.20% / 0.10), 0 1px 2px -1px hsl(0 0% 10.20% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 10.20% / 0.10), 0 2px 4px -1px hsl(0 0% 10.20% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 10.20% / 0.10), 0 4px 6px -1px hsl(0 0% 10.20% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 10.20% / 0.10), 0 8px 10px -1px hsl(0 0% 10.20% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 10.20% / 0.25);
}

.dark {
  --background: oklch(0.27 0.00 106.64);
  --foreground: oklch(0.81 0.02 90.57);
  --card: oklch(0.27 0.00 106.64);
  --card-foreground: oklch(0.98 0.01 98.88);
  --popover: oklch(0.31 0.00 106.60);
  --popover-foreground: oklch(0.92 0.01 106.53);
  --primary: oklch(0.69 0.18 38.26);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.98 0.01 98.88);
  --secondary-foreground: oklch(0.31 0.00 106.60);
  --muted: oklch(0.22 0.00 106.71);
  --muted-foreground: oklch(0.78 0.02 98.73);
  --accent: oklch(0.23 0.01 99.42);
  --accent-foreground: oklch(0.97 0.01 100.82);
  --destructive: oklch(0.65 0.24 26.90);
  --destructive-foreground: oklch(1.00 0 0);
  --border: oklch(0.37 0.01 107.04);
  --input: oklch(0.44 0.02 97.72);
  --ring: oklch(0.61 0.21 256.21);
  --chart-1: oklch(0.58 0.17 40.37);
  --chart-2: oklch(0.67 0.19 289.29);
  --chart-3: oklch(0.23 0.01 99.42);
  --chart-4: oklch(0.29 0.07 287.79);
  --chart-5: oklch(0.59 0.18 39.22);
  --sidebar: oklch(0.24 0.00 67.71);
  --sidebar-foreground: oklch(0.81 0.02 90.57);
  --sidebar-primary: oklch(0.33 0 0);
  --sidebar-primary-foreground: oklch(0.99 0 0);
  --sidebar-accent: oklch(0.22 0.01 106.86);
  --sidebar-accent-foreground: oklch(0.81 0.02 90.57);
  --sidebar-border: oklch(0.94 0 0);
  --sidebar-ring: oklch(0.77 0 0);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.765rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 10.20% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 10.20% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 10.20% / 0.10), 0 1px 2px -1px hsl(0 0% 10.20% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 10.20% / 0.10), 0 1px 2px -1px hsl(0 0% 10.20% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 10.20% / 0.10), 0 2px 4px -1px hsl(0 0% 10.20% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 10.20% / 0.10), 0 4px 6px -1px hsl(0 0% 10.20% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 10.20% / 0.10), 0 8px 10px -1px hsl(0 0% 10.20% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 10.20% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
