@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 32 100% 96%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 18 100% 50%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 31, 100%, 82%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 1.2rem;
  }

  .dark {
    --background: 18 50% 5%;
    --foreground: 18 5% 90%;
    --card: 18 50% 0%;
    --card-foreground: 18 5% 90%;
    --popover: 18 50% 5%;
    --popover-foreground: 18 5% 90%;
    --primary: 18 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 18 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: -20 30% 15%;
    --muted-foreground: 18 5% 60%;
    --accent: -20 30% 15%;
    --accent-foreground: 18 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 18 5% 90%;
    --border: 18 30% 18%;
    --input: 18 30% 18%;
    --ring: 18 100% 50%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}